nav {
    background-color: rgb(189 122 122 / 60%);
}

main {
    width: auto;
    height: 600px;
    background: url("./images/bg.PNG") no-repeat center;
    background-size: cover;
}

.buttonNav {
    color: white;
    background-color: rgba(131, 120, 120, 0.6);
}

.imageItem img {
    width: 65%;
    height: auto;   
}

.footer {
    width: auto;
    height: 100px;
    color: white;
    background-color: black;
}

@media (max-width: 650px) {

    .buttonResponsive {
      display: none;
    }
}